<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918824185229-ivqta7h4qf3rf0uk0vqpeuq5aoksu00k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918824185229-ivqta7h4qf3rf0uk0vqpeuq5aoksu00k</string>
	<key>API_KEY</key>
	<string>AIzaSyCgQ4upnUIYrpIPezcFDrW-fAZKs9gUuqA</string>
	<key>GCM_SENDER_ID</key>
	<string>918824185229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.petrickjerico.snapsheetapp</string>
	<key>PROJECT_ID</key>
	<string>snapsheet-e7f7b</string>
	<key>STORAGE_BUCKET</key>
	<string>snapsheet-e7f7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918824185229:ios:58fbf446bae18198e1e1c4</string>
	<key>DATABASE_URL</key>
	<string>https://snapsheet-e7f7b.firebaseio.com</string>
</dict>
</plist>